h1 Sign up

form(method='POST' action='')
  label(for='firstname') First name:
  input(type='text' name='firstname')

  label(for='lastname') Last name:
  input(type='text' name='lastname')

  label(for='username') User name:
  input(type='email' name='username')

  label(for='password') Password:
  input(type='password' name='password')

  label(for='password-repeat') Repeat password:
  input(type='password' name='password-repeat')

  button(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
